body {
  background-color: #e7eaf6;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background-color: #b8bcd7;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.88);
  border-radius: 16px;
}

a {
  color: #2b2931;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-city {
  color: #2b2931;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-details {
  font-size: 20px;
  color: #2b2931;
  line-height: 30px;
  font-weight: 300;
}

.weather-app-details strong {
  color: #2b2931;
}
header {
  border-bottom: 1px solid #6d638c;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #e7eaf6;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #6d638c;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: #2b2931;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #2b2931;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #6d638c;
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
